.quote-block {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;

  font-size: 24px;
}

.quote {
  font-weight: 200;
  font-style: italic;
}

.year {
  font-weight: 300;
}
